<!-- app/templates/create_room.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Create Room</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.theme.label }}<br>
            {{ form.theme(size=32) }}<br>
            {% for error in form.theme.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time() }}<br>
            {% for error in form.start_time.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.end_time.label }}<br>
            {{ form.end_time() }}<br>
            {% for error in form.end_time.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('home') }}">Home</a>
</body>
</html>
